<!doctype HTML>
<html>
  <head>
    <title>Fruit Picker</title>
  </head>
  <style type="text/css" media="screen">
    body {
      font-family: 'Gotham', 'Arial', sans-serif
    }

    .query {
      font-weight: 700;
      font-size: 48px;
    }
  </style>
  <body>
     <form action="/favorite_fruit" method="POST">
        <p class="query">What is your favorite fruit?</p>
        {% for fruit in fruits %}
          <p>
            <input type="radio" name="fruit" value="{{fruit}}"/>{{fruit}}
          </p>
        {% endfor %}
        <input type="submit" value="Submit"/>
     </form>
  </body>
</html>
